{% load static %}
<div class="nk-header nk-header-fixed is-light">
    <div class="container-lg wide-xl">
        <div class="nk-header-wrap">
            <div class="nk-header-brand">
                <a href="" class="logo-link">
                    <img class="logo-light logo-img" src="{% static 'images/logo-new.png' %}"
                        srcset="{% static 'images/logo-new.png' %}" alt="logo">
                    <img class="logo-dark logo-img" src="{% static 'images/logo-new.png' %}"
                        srcset="{% static 'images/logo-new.png' %}" alt="logo-dark">
                </a>
            </div><!-- .nk-header-brand -->
            <div class="nk-header-menu">
                <ul class="nk-menu nk-menu-main">
                    <li class="nk-menu-item">
                        <a href="" class="nk-menu-link">
                            <span class="nk-menu-text">Teaching Machine</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                    <li class="nk-menu-item">
                        <a href="/about-us" class="nk-menu-link">
                            <span class="nk-menu-text">About Us</span>
                        </a>
                    </li><!-- .nk-menu-item -->
                </ul><!-- .nk-menu -->
            </div><!-- .nk-header-menu -->
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="dropdown user-dropdown">
                        <a href="#" class="dropdown-toggle mr-lg-n1" data-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm">
                                    <em class="fa fa-user"></em>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-right dropdown-menu-s1">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    {% if User == Npne %}
                                    <div class="user-avatar">
                                        <span>A</span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">Anonymous</span>
                                    </div>
                                    <div class="user-action">
                                        <a class="btn btn-icon mr-n2" data-toggle="modal"
                                            data-target=".modal-login">Login</a>
                                    </div>
                                    {% else %}
                                    <div class="user-avatar">
                                        <span><i class="fas fa-user"></i></span>
                                    </div>
                                    <div class="user-info">
                                        <span class="lead-text">{{ User.username }}</span>
                                    </div>
                                    <div class="user-action">
                                        <a class="btn btn-icon mr-n2" href="/logout">Log out</a>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </li><!-- .dropdown -->
                    <li class="d-lg-none">
                        <a href="#" class="toggle nk-quick-nav-icon mr-n1" data-target="sideNav"><em
                                class="icon ni ni-menu"></em></a>
                    </li>
                </ul><!-- .nk-quick-nav -->
            </div><!-- .nk-header-tools -->
        </div><!-- .nk-header-wrap -->
    </div><!-- .container-fliud -->
</div>