<div class="nk-footer">
    <div class="container wide-xl">
        <div class="nk-footer-wrap g-2">
            <div class="nk-footer-copyright"> &copy; Machine Learner
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item"><a class="nav-link" href="Legal">Terms</a></li>
                    <li class="nav-item"><a class="nav-link" href="Privacy">Privacy</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
