{% load static %}
<div class="nk-aside" data-content="sideNav" data-toggle-overlay="true" data-toggle-screen="lg" data-toggle-body="true">
    <div class="nk-sidebar-menu" data-simplebar>
        <ul class="nk-menu">
            <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">Menu</h6>
            </li><!-- .nk-menu-heading -->
            <li class="nk-menu-item">
                <a href="" class="nk-menu-link">
                    <span class="nk-menu-icon"><em class="fab fa-leanpub"></em></span>
                    <span class="nk-menu-text">Teaching Machine</span>
                </a>
                <a href="" class="nk-menu-link">
                    <span class="nk-menu-icon"><i class="fa fa-plus-square"></i></span>
                    <span class="nk-menu-text">Create Your Machine</span>
                </a>
                <a href="" class="nk-menu-link">
                    <span class="nk-menu-icon"><i class="fas fa-sign-in-alt"></i></span>
                    <span class="nk-menu-text">Login</span>
                </a>
            </li><!-- .nk-menu-item -->
            <li class="nk-menu-heading">
                <h6 class="overline-title text-primary-alt">Special Link</h6>
            </li><!-- .nk-menu-heading -->
            <li class="nk-menu-item">
                <a href="" class="nk-menu-link">
                    <span class="nk-menu-icon"><i class="fab fa-buromobelexperte"></i></span>
                    <span class="nk-menu-text">Our Model</span>
                </a>
                <a href="" class="nk-menu-link">
                    <span class="nk-menu-icon"><em class="fas fa-info"></em></span>
                    <span class="nk-menu-text">About Machine Learner</span>
                </a>
            </li>
        </ul><!-- .nk-menu -->
    </div><!-- .nk-sidebar-menu -->
    <div class="nk-aside-close">
        <a href="#" class="toggle" data-target="sideNav"><em class="icon ni ni-cross"></em></a>
    </div><!-- .nk-aside-close -->
</div><!-- .nk-aside -->