<!DOCTYPE html>
<html lang="en" class="js">

<head>
    {% load static %}
    {% include 'assets.html' %}
</head>

<body class="nk-body bg-white npc-default has-aside ">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap ">
                {% include 'header.html' %}
                <div class="nk-content">
                    <div class="container wide-xl">
                        <div class="nk-content-inner">
                            {% include 'menu.html' %}
                            <div class="nk-content-body">
                                <div class="nk-content-wrap">
                                    <div class="nk-block-head nk-block-head-sm">
                                        <div class="nk-block-between">
                                            <div class="nk-block-head-content">
                                                <h3 class="nk-block-title page-title">{{ Title }}</h3>
                                                <div class="nk-block-des text-soft">
                                                    <p>Your Machines</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="nk-block">
                                        <div class="row g-gs">
                                            <div class="col-sm-12">
                                                <div class="class-container">
                                                    <div class="card card-bordered card-class" id="class-1">
                                                        <div class="card-inner">
                                                            <div class="row">
                                                                <div class="col-md-12 mt-3 table-responsive">
                                                                    <table
                                                                        class="table table-stripped table-bordered datatable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>Machine Name</th>
                                                                                <th>Created</th>
                                                                                <th>Class Name</th>
                                                                                <th>Detail Setup</th>
                                                                                <th>Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for m in Machines  %}
                                                                            <tr>
                                                                                <td>{{ m.Name }}</td>
                                                                                <td>{{ m.Created }}</td>
                                                                                <td>
                                                                                    <div class="card">
                                                                                        <ul
                                                                                            class="list-group list-group-flush">
                                                                                            {% for c in m.getMachineClass %}
                                                                                            <li class="list-group-item">
                                                                                               {{ c.Name }} 
                                                                                            </li>
                                                                                            {% endfor %}
                                                                                        </ul>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="card">
                                                                                        <ul
                                                                                            class="list-group list-group-flush">
                                                                                            <li class="list-group-item">
                                                                                                epoch : {{ m.epoch }}
                                                                                            </li>
                                                                                            <li class="list-group-item">
                                                                                                batch : {{ m.batch }}
                                                                                            </li>
                                                                                            <li class="list-group-item">
                                                                                                Learning Rate : {{ m.learningrate }}
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </td>
                                                                                <td>
                                                                                    <div class="card">
                                                                                        <ul
                                                                                            class="list-group list-group-flush">
                                                                                            <li class="list-group-item">
                                                                                                <a href="/testing/{{ m.id }}" class="p-1 btn-block btn btn-info">Testing</a>
                                                                                            </li>
                                                                                            <li class="list-group-item">
                                                                                                <a download href="/downloadmodel/{{ m.id }}" class="p-1 btn-block btn btn-success">Dwnload</a>
                                                                                            </li>
                                                                                        </ul>
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% include 'footer.html' %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        {% include 'login.html' %}


    </div>

</body>

</html>